{% extends "blog/basic.html" %} 
{% block title %} Blog Post - My Awesome Cart {% endblock title %} 
{% block css %}
<style></style>
{% endblock css %} 
{% block body %}

<body>
  <div class="w3-container">
    <div class="w3-row w3-margin-top-32">
      <div class="w3-col m8 w3-container">
        <h3 class="w3-padding-16 w3-margin-bottom-16 w3-italic w3-border-bottom">{{ post.title }}</h3>

        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.first_head }}</h2>
          <p class="blog-post-meta">
            <i class="fa-regular fa-calendar-days"></i> {{ post.pub_date }} by
            <i class="fa-solid fa-user"></i> Rameesha Kamran
          </p>
          

          <p>{{ post.first_head_content|linebreaks }}</p>

          <h2>{{ post.second_head }}</h2>
          <p>{{ post.second_head_content|linebreaks }}</p>

          <h2>{{ post.third_head }}</h2>
          <p>{{ post.third_head_content|linebreaks }}</p>

          <h2>{{ post.fourth_head }}</h2>
          <p>{{ post.fourth_head_content|linebreaks }}</p>

          {% if post.fifth_head and post.fifth_head_content != "" %}
          <h2>{{ post.fifth_head }}</h2>
          <p>{{ post.fifth_head_content|linebreaks }}</p>
          {% endif %} 
          
          {% if post.sixth_head and post.sixth_head_content != "" %}
          <h2>{{ post.head5 }}</h2>
          <p>{{ post.chead5|linebreaks }}</p>
          {% endif %}
        </div>

        <hr class="w3-margin-top-32 w3-margin-bottom-32" />

        <script
          type="text/javascript"
          src="https://latest.cactus.chat/cactus.js"
        ></script>
        <link
          rel="stylesheet"
          href="https://latest.cactus.chat/style.css"
          type="text/css"
        />
        <div id="comment-section"></div>

        <script>
          initComments({
            node: document.getElementById("comment-section"),
            defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
            serverName: "cactus.chat",
            siteName: "MAC",
            commentSectionId: "Rameesha-BLOG-{{ post.post_id }}",
          });
        </script>
      </div>

      <!-- Sidebar -->
      <aside class="w3-col m4 w3-container">
        <div class="w3-panel w3-dark-grey w3-round-large">
          <h4 class="w3-italic">
            <i class="fa-solid fa-circle-info"></i> About
          </h4>
          <p>
            Hi, I am Rameesha and welcome to my fashion realm! I'm a fashion designer who turns
            unconventional materials into wearable art. Join me in crafting
            stories through unique creations that celebrate individuality with
            flair. Let's craft it up!
          </p>
        </div>

        <div class="w3-panel">
          <h4 class="w3-italic">
            <i class="fa-solid fa-phone"></i> Let's Connect On:
          </h4>
          <ul class="w3-ul">
            <li><i class="fa-brands fa-instagram"></i> <a href="https://instagram.com/rameesha_mughal6">Instagram</a></li>
            <li><i class="fa-brands fa-linkedin-in"></i> <a href="https://linkedin.com/in/rameesha-kamran">LinkedIn</a></li>
            <li><i class="fa-regular fa-envelope"></i> <a href="mailto:kamranrameesha6@gmail.com">E-mail</a></li>
          </ul>
        </div>


        <hr class="w3-margin-top-32 w3-margin-bottom-32" />
        
        <!-- Blog Pagination -->
        {% if prev_post != "No Previous Posts..." %}
        <a href="/post/{{ prev_post.post_id|slice:':10' }}" class="w3-button w3-border w3-round-large w3-text-blue">View the Previous Post ({{ prev_post.title }})</a>
        {% else %}
        <a class="w3-button w3-disabled w3-border-black w3-round-large w3-text-black">No Previous Posts</a>
        {% endif %}

        {% if next_post != "No New Posts..." %}
        <a href="/post/{{ next_post.post_id|slice:':10' }}" class="w3-button w3-border w3-round-large w3-text-blue">View the Next Post ({{ next_post.title }})</a>
        {% else %}
        <a class="w3-button w3-disabled w3-border-blue w3-round-large w3-text-black">No New Posts</a>
        {% endif %}
      </aside>
      <!-- Sidebar -->
    </div>
  </div>

</body>

{% endblock body %} 
{% block js %}
<script></script>
{% endblock js %}
